*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#031a31;
color:white;
min-height:100vh;
}

.container{
width:90%;
margin:auto;
padding:60px 0;
position:relative;
}

.bg-text{
position:absolute;
top:130px;
left:50%;
transform:translateX(-50%);
font-size:150px;
font-weight:bold;
color:rgba(255,255,255,0.03);
z-index:-1;
}

.title{
text-align:center;
font-size:70px;
margin-bottom:60px;
}

.title span{
color:#00e5ff;
}

.project-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}

.project-card{
background:rgba(255,255,255,.05);
border:1px solid rgba(255,255,255,.1);
border-radius:20px;
padding:35px;
transition:.4s;
min-height:280px;
}

.project-card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px #00e5ff;
}

.project-card h2{
font-size:28px;
color:#00e5ff;
margin-bottom:20px;
}

.project-card p{
font-size:18px;
line-height:1.7;
color:#dcdcdc;
margin-bottom:25px;
}

.tech{
font-size:18px;
font-weight:bold;
color:#00e5ff;
margin-bottom:30px;
}

.project-btn{
display:inline-block;
padding:12px 28px;
border:2px solid #00e5ff;
border-radius:30px;
text-decoration:none;
color:white;
transition:.3s;
}

.project-btn:hover{
background:#00e5ff;
color:black;
box-shadow:0 0 20px #00e5ff;
}

.back-btn{
display:block;
width:220px;
margin:60px auto;
padding:15px;
text-align:center;
border:2px solid #00e5ff;
border-radius:35px;
text-decoration:none;
color:white;
transition:.3s;
}

.back-btn:hover{
background:#00e5ff;
color:black;
box-shadow:0 0 20px #00e5ff;
}

@media(max-width:900px){

.project-grid{
grid-template-columns:1fr;
}

.title{
font-size:50px;
}

.bg-text{
font-size:80px;
}

}
.sidebar{
    position:fixed;
    right:30px;
    top:50%;
    transform:translateY(-50%);
    display:flex;
    flex-direction:column;
    gap:18px;
}

.sidebar a{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    color:white;
    font-size:14px;
    transition:.3s;
}

.sidebar i{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#1b3148;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:22px;
    margin-bottom:8px;
    transition:.3s;
}

.sidebar a:hover i{
    background:#00e5ff;
    color:black;
    box-shadow:0 0 20px #00e5ff;
}

.sidebar .active i{
    background:#00e5ff;
    color:black;
    box-shadow:0 0 20px #00e5ff;
}

.sidebar span{
    font-size:13px;
    font-weight:bold;
}